/*p{
    color:blue;
}
h1{
    color:aqua;
}
.mohit{
    color:wheat;
}
#manogna{
    color:azure;
    background-color:aquamarine;
}
#manogna:hover{
    background-color:pink;
    color:brown
}*/

.one h1{
    color:green;
}
.one p{
    color:blueviolet;
}

